*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    
    cursor: pointer;
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}


.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score{
    size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: brown;
    height: 4rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: beige;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}